<%= provide(:title, t(".user_nameさんのプロフィール", user_name: @user.name)) %>

<div data-scope-path="users/show">
  <div class="row justify-content-around">
    <div class="user col-5">
      <div class="card">
        <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "rounded-circle" %>
        <% else %>
        <%= image_tag("unnamed.jpg", class: "rounded-circle") %>
        <% end %>
        <div class="card-body">
          <h2 class="card-title"><%= @user.name %></h2>
          <p class="card-text">
            <%= @user.profile %>
          </p>
          <% if current_user?(@user) %>
          <%= render partial: "shared/button_linked_create_post" %>
          <%= link_to t(".編集"), edit_user_path(current_user), class: "card-link edit-profile-link" %>
          <%= link_to t(".ログアウト"), logout_path, method: :delete, class: "card-link logout-link" %>
          <% end %>
          <% if current_user&.admin? && !current_user?(@user) %>
          <%= link_to "アカウントを削除", user_path(@user), method: :delete, class: "card-link delete-user", data: { confirm: "このユーザーを完全に削除します。本当によろしいですか？"} %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="posts col-6">
      <h5><%= t(".user_nameさんの投稿", user_name: @user.name) %></h5>
      <div class="round-cap"></div>
      <%= render @posts %>
      <%= paginate @posts %>
      <%= page_entries_info @posts %>
    </div>
  </div>
</div>