<% provide(:title, t(".掲示板検索")) %>

<div data-scope-path="posts/index">
	<div class="row">
		<%= search_form_for @q, url: category_path, class: "form-inline col-md-6 col-xl-5" do |f| %>
		<div class="form-group form-row">
			<%= f.search_field :content_cont, class: "form-control col-9", placeholder: t(".検索") %>
			<%= f.button type: "submit", class: "btn btn-secondary col-2" do %>
			<%= icon("fas", "search") %>
			<% end %>
		</div>
		<% end %>
		<div class="w-100"></div>
		<div class="col-md-6 col-xl-5">
			<div class="category_list list-group list-group-flush">
				<h3><%= t(".カテゴリー") %></h3>
				<div class="parents_list">
					<% @parents.each do |parent| %>
					<% if I18n.locale.to_s == "ja" %>
					<%= link_to "#{parent.ja_name}", category_path(parent.id), class: "parent_category list-group-item", id: "#{parent.id}" %>
					<% elsif I18n.locale.to_s == "vi" %>
					<%= link_to "#{parent.vi_name}", category_path(parent.id), class: "parent_category list-group-item", id: "#{parent.id}" %>
					<% end %>
					<% end %>
				</div>
				<input type="hidden" class="current_locale" value="<%= I18n.locale %>">
				<div class="children_list">
				</div>
			</div>
		</div>
		<div class="posts col-md-6 col-xl-6 offset-xl-1">
			<% if params[:category_id] && I18n.locale.to_s == "ja"  %>
			<h3><%= Category.find(params[:category_id]).ja_name %></h3>
			<% elsif params[:category_id] && I18n.locale.to_s == "vi" %>
			<h3><%= Category.find(params[:category_id]).vi_name %></h3>
			<% end %>
			<%= page_entries_info @posts %>
			<div class="round-cap"></div>
			<%= render @posts %>
			<%= paginate @posts %>
		</div>
	</div>
</div>