<% provide(:title) %>

<div data-scope-path="posts/index">
	<%= search_form_for @q, class: "form-inline" do |f| %>
	<div class="form-group">
		<%= f.search_field :content_cont, class: "form-control", placeholder: t(".検索") %>
		<%= f.button type: "submit", class: "btn btn-secondary" do %>
		<%= icon("fas", "search") %>
		<% end %>
	</div>
	<% end %>
	<ul class="posts col-5 list-group list-group-flush">
		<%= render @posts %>
	</ul>
</div>