<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<h1>Website under construction</h1>
    <% @posts.each do |post| %>
        <div>
        <%= post.created_at %>
        <%= link_to post.content, post_path(post) %>
        </div>
    <% end %>
<div>
    <%= link_to "Bài", new_post_path %>
</div>