<% provide(:title) %>

<div data-scope-path="posts/index">
	<%= search_form_for @q, class: "form-inline" do |f| %>
	<div class="form-group">
		<%= f.search_field :content_cont, class: "form-control", placeholder: t(".検索") %>
		<%= f.button type: "submit", class: "btn btn-secondary" do %>
		<%= icon("fas", "search") %>
		<% end %>
	</div>
	<% end %>
	<% @posts.each do |post| %>
	<div class="card">
		<div class="row no-gutters">
			<div class="col-2">
				<%= image_tag "unnamed.jpg", class: "card-img" %>
			</div>
			<div class="col-10">
				<div class="card-body">
					<h6 class="card-title"><%= post.title %></h6>
					<p class="card-text"><%= post.created_at.strftime("%Y/%m/%d") %></p>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	<%= paginate @posts %>
	<%= page_entries_info @posts %>
</div>