<% provide(:title, "Bài") %>

<h1>Post</h1>
<div>
    <%= link_to "← Back", posts_path %>
</div>

<%= form_with model: @post, local: true do |f| %>
<%= render 'shared/error_messages' %>
    <%= f.label :content %>
    <%= f.text_area :content, value: @post.content %>
    <%= f.submit %>
<% end %>

