<% provide(:title, @post.title ) %>

<div data-scope-path="posts/show">
	<div class="top-wrapper">
		<% if @category %>
		<% breadcrumb :category, @category %>
		<% else %>
		<% breadcrumb :categories %>
		<% end %>
		<%= breadcrumbs pretext: "", separator: " &rsaquo; " %>
		<div class="round-cap"></div>
		<p class="user">
			<% if @user.image.attached? %>
			<%= image_tag @user.image, class: "rounded-circle border" %>
			<% else %>
			<%= image_tag("ruby.png", class: "rounded-circle border") %>
			<% end %>
			<%= link_to @user.name, @user %>
			| <span><%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></span>
		</p>
		<% if current_user&.admin? || current_user?(@user) %>
		<p class="menu">
			<%= t(".掲示板の") %>
			<%= link_to t(".削除"), "", data: {toggle: "modal", target: "#delete_modal"} %>
		<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle"><%= t(".確認") %></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<%= t(".本当にこの掲示板を削除してよろしいですか？") %>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t(".いいえ") %></button>
						<button type="button" class="btn btn-primary"><%= t(".はい") %></button>
					</div>
				</div>
			</div>
		</div>
		</p>
		<% end %>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-10 col-lg-12">
			<div class="post-wrapper">
				<h1><%= @post.title %></h1>
				<div class="row no-gutters">
					<div class="col-md-8">
						<p><%= simple_format(@post.content) %></p>
					</div>
					<% if @post.image.attached? %>
					<div class="post-img col-md-4">
						<%= image_tag @post.image, class: "img-fluid" %>
					</div>
					<% end %>
				</div>
			</div>
			<div class="comment-wrapper">
				<%= render "shared/error_messages", object: @comment %>
				<% if logged_in? %>
				<%= form_with model: @comment, url: post_comments_path(@post), local: true do |f| %>
				<div class="form-group">
					<%= f.label :body %>
					<%= f.text_area :body, class: "form-control" %>
				</div>
				<%= f.submit class: "btn btn-lg btn-primary" %>
				<% end %>
				<% end %>

				<% @comments&.each do |comment| %>
				<div class="card" id="comment-<%= comment.id %>">
					<div class="card-header">
						<% if comment.user.image.attached? %>
						<%= image_tag comment.user.image, class: "rounded-circle border" %>
						<% else %>
						<%= image_tag("ruby.png", class: "rounded-circle border") %>
						<% end %>
						<div class="CommentNum">No.<%= comment.id %></div>
						<span class="CommentTime"><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></span>
						<%= link_to comment.user.name, user_path(comment.user), class: "UserName" %>
					</div>
					<div class="card-body">
						<p><%= simple_format(comment.body) %></p>
						<% if logged_in? %>
						<%= icon("fas", "reply fa-lg reply") %>
						<% if current_user&.admin? %>
						<%= link_to "削除", post_comment_path(@post, comment.id), method: :delete %>
						<% end %>
						<% end %>
						</footer>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>