<% provide(:title, @post.title ) %>
<div data-scope-path="posts/show">
	<%= render "shared/error_messages", object: @comment %>
	<div>
		<%= @post.content %>
		<% if @post.image.attached? %>
		<%= image_tag @post.image %>
		<% end %>
	</div>

	<% if logged_in? %>
	<%= form_with model: @comment, url: post_comments_path(@post), local: true do |f| %>
	<div class="form-group">
		<%= f.label :body %>
		<%= f.text_area :body, class: "form-control" %>
	</div>
	<%= f.submit class: "btn btn-primary" %>
	<% end %>
	<% end %>

	<% @comments.each do |comment| %>
	<%= comment.body %>
	<% if current_user&.admin? %>
	<%= link_to "削除", post_comment_path(@post, comment.id), method: :delete %>
	<% end %>
	<% end %>
</div>