<header>
  <div data-scope-path="layouts/header">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to "PostOne", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if logged_in? %>
            <li class="nav-item">
              <%= link_to "マイページ", current_user, class: "nav-link mypage" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "ログイン", login_path, class: "nav-link login" %>
            </li>
            <li class="nav-item">
              <%= link_to "会員登録", new_user_path, class: "nav-link create-account" %>
            </li>
            <% end %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</header>