<div data-scope-path="layouts/header">
  <header>
    <% flash.each do |message_type, message| %>
    <div class="text-center alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to "PostOne", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if logged_in? %>
            <li class="nav-item">
              <%= link_to t(".マイページ"), current_user, class: "nav-link mypage" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to t(".ログイン"), login_path, class: "nav-link login" %>
            </li>
            <li class="nav-item">
              <%= link_to t(".会員登録"), new_user_path, class: "nav-link create-account" %>
            </li>
            <% end %>
            <% if I18n.locale.to_s == "ja" %>
            <li class="nav-item">
              <%= link_to "Việt / 日本語", root_path(:locale => "vi"), {class: "nav-link"} %>
            </li>
            <% elsif I18n.locale.to_s == "vi" %>
            <li class="nav-item">
              <%= link_to "Việt / 日本語", root_path(:locale => "ja"), {class: "nav-link"} %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</div>