<div data-scope-path="layouts/header">
  <header>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= link_to "PostOne", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <% if logged_in? %>
            <li class="nav-item">
              <%= link_to t(".mypage"), current_user, class: "nav-link mypage" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to t(".login"), login_path, class: "nav-link login" %>
            </li>
            <li class="nav-item">
              <%= link_to t(".signup"), new_user_path, class: "nav-link create-account" %>
            </li>
            <% end %>
            <% if I18n.locale.to_s == "ja" %>
            <li class="nav-item">
              <%= link_to "ベトナム語へ切り替え", {:locale => "vi"}, {class: "nav-link"} %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Nhật", {:locale => "ja"}, {class: "nav-link"} %>
            </li>
            <% end %>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><%= t(".search") %></button>
          </form>
        </div>
      </nav>
    </div>
  </header>
</div>